<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <input type="text" name="name"/>
        <input type="text" name="lastname"/>
        <input type="text" name="email"/>
        <input type="password" name="password"/>
        <input type="password2" name="password2"/>
        <button type="submit" value="register"></button>
    </form>
</body>
</html>